<%- include('_header.ejs') %>
    <div class="main-section">
        <div class="reset-password">
            <a href="/user/resetPassword">Reset Password</a>
        </div>
        <div class="logout">
            <a href="/user/logout">Logout</a>
        </div>
    </div>

    <%- include('_footer.ejs') %>